data/OCT/
*.jpeg
*.jpg
*.png

data/chest_xray/
*.jpeg
*.jpg
*.png

# ── Python ─────────────────────────────
__pycache__/
*.pyc
*.pyo
.env
venv/
env/

# ── Jupyter ────────────────────────────
.ipynb_checkpoints/

# ── VS Code ────────────────────────────
.vscode/

#------- models ------------------------
models/
*.pth
*.pt